<p>appointment-booking works!</p>
Sai baba ki jai
jai Buddha babaa 
<button class="button" (click)="fillData()">data..</button>
<h4>Basic mat-select</h4>

<select 
[(ngModel)]="bmonth">
    <option *ngFor="let month of months" [value]="month">
      {{month}}
    </option>
  </select>

<ul> 
    <li *ngFor="let data of   bookingMonthData   ; let i = index"> 
        
      <span *ngFor="let dayData of   data    ; let j = index"> 
      <!-- this also works <button class="button" >sai{{bookingMonthData[i][j]}}</button>-->
     
      <button class="button" (click)="callData()"> {{dayData.day }}</button> 
    
      </span>
    </li> 
    <li *ngFor="let rl of   roles2    ; let i = index">
      {{rl.name}}
    </li>
  </ul>
