<!--
<button class="button" (click)="fillData()">data..</button>

-->

<h4>Appointment Booking</h4>
<div>
  <table>
    <tr><Td>Year</Td><td>Month</td></tr>
  <tr>
    <td>
<select [(ngModel)]="byear">
  <option [value]="this.currYear">
    {{this.currYear}}
  </option>

  <option [value]="this.nextYear">
    {{this.nextYear}}
  </option>
</select>
</td>
<td>

  <select [(ngModel)]="bmonth" *ngIf="this.byear == this.currYear">
  
    
    <option *ngFor="let month of monthObjCurr" [value]="month.id">
      {{month.name}}
    </option>
  
  </select>
  <select *ngIf="this.byear == this.nextYear">
  
    
    <option *ngFor="let month of monthObj" [value]="month.id">
      {{month.name}}
    </option>
  
  </select>
</td>
</tr>
</table>

<!--
<select [(ngModel)]="bmonth">
  <option *ngFor="let month of months" [value]="month">
    {{month}}
  </option>
</select>
-->

<button class="button" (click)="callMonthWiseAvailability()">Get Slot Data.</button>
</div>
<ul>
  <table>
    <tr>
    <td>Mon</td>
    <td>Tus</td>
    <td>Wed</td>
    <td>Thr</td>
    <td>Fri</td>
    <td>Sat</td>
    <td>Sun</td>
    </tr>
    
    <tr *ngFor="let data of   bookingMonthData   ; let i = index">
      
        <td *ngFor="let dayData of   data    ; let j = index">
          <!-- this also works <button class="button" >sai{{bookingMonthData[i][j]}}</button>-->
         
          <span *ngIf="dayData.availaibilty !== 0 "  class="button-avl">
            <button class="button" (click)="callSlotComponent(dayData.day)"> {{dayData.day }}</button>
          </span>
          <span *ngIf="dayData.availaibilty == 0 " class="button-dis">
            <button class="button" (click)="callData()"> {{dayData.day }}</button>
          </span>
        </td>
        
    
  
  </table>
  <li *ngFor="let rl of   roles2    ; let i = index">
    {{rl.name}}
  </li>
</ul>